body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    font-weight: 600;
}


/* All colors are toggled here. */
.hotel_box i{
    color: #999999;
}

#green_text, .hotel_box a, .info_box .header, .info_section .header, .green_event_text .header, .info_half a, .info_half_right a{
    color: #499661;
}

.explainer_text{
    color: black;
}

.back_link a, .info_box a, #green_text a, .green_event_text a{
    color: #7CB6A7;
}




#banner{
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

#date{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#green_text{
    font-size: 0.85rem;
    margin: 2rem auto 5rem;
    padding: 0 5rem 0 5rem;
    max-width: 50rem;
}

#flexibox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#fotobox{
    background-image: url("/img/kalu.png");
    background-size: cover;
    border: none !important;
}

.border_box{
    border-width: 0.01rem;
    border-radius: 0.2rem;
    border-color: black;
    padding: 1rem;
    float: left;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box{
    text-align: left;
    width: 10rem;
    height: 10rem;
    margin: 0.75rem;
}

.info_box .header{
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.info_box .box_text{
    text-align: left;
    font-size: 0.85rem;
}

.hotel_box{
  width: 14rem;
  font-size: 0.8rem;
  text-align: left;
  margin: 0.75rem;
}

@media screen and (max-width: 37.25rem) {
  .hotel_box {
      margin: 0.75rem 0 0.75rem !important;
      width: 89%;
  }
}

.hotel_box a{
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}

.explainer_text{
    font-size: 0.85rem;
    margin: 2rem auto 2rem;
    padding: 0 5rem 0 5rem;
    max-width: 50rem;
}

.back_link{
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
}

.back_link a{
    text-decoration: none;
    font-weight: bold;
}


.info_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 0 0;
    font-size: 0.85rem;
    padding: 2rem 0 2rem 0;
}

.info_half{
    float: left;
    width: 42%;
    margin: 1rem 2rem 0 2rem;
    text-align: left;
}
.info_half_right{
    float: right;
    width: 42%;
    text-align: right;
}

.info_section .header{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.info_section{
    margin: 1rem;
    float: left;
    width: 38%;
    text-align: left;
    padding: 2rem;
    margin: 1rem 2.5% 1rem 2.5%;
}


@media screen and (max-width: 62.25rem) {
    .info_section{
        width: 100%;
    }

    .info_half, .info_half_right{
        width: 90%;
    }

    .info_half_right{
        text-align: center;
        float: left;
        padding: 0 1rem 0 1rem;
    }
}

.mapouter iframe{
    max-width: 300px;
    height: 300px;
}

#loc_map{
    width: 100%;
    height: 300px;
}


.green_event_text{
    margin: 2rem auto 5rem;
    font-size: 0.85rem;
    text-align: justify;
    max-width: 50rem;
}

.green_event_text .header{
    font-weight: 600;
    margin: 1rem 0 0.3rem 0;
    font-size: 1rem;
}
